<div class="container-fluid">
    <div class="row fondo_titulo">

        <div class="col fondo_titulo">
            <h1><p>Aplicación de Clima</p></h1>
        </div>

        <div class="col">  
            <img src="../assets/img/logo-angular.png" />
        </div>


    </div>
</div>