<div class="container-fluid">
    <div class="row">
        <!--
        <div class="col">
          <p> Buscar Ciudad </p> 
          <input type="text" name="ciudadBuscada" />
        </div>
        -->
        <div class="col main">
          <img src="../assets/img/img-clima.png" width="130" height="100"/>
      
          <form (submit)="submitLocation(cityName, countryCode)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de Ciudad" #cityName>

            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Codigo de Pais" #countryCode>
            </div>
            <div class="form-group">
              <!--
              <button class="btn btn-primary btn-block mt-3">
                Obtener Clima
              </button>
              -->
              <button type="button" class="btn btn-secondary" (click)="submitLocation(cityName, countryCode)">
                Obtener Clima</button>
            </div>
          </form>
        </div>
        <div class="col main">
          <div *ngIf="weather == false" class="card card-body error">
            <h3><p>Ciudad No encontrada</p></h3>
          </div>  
          <div *ngIf="weather" class="card card-body info">
          <h3><p> {{weather.name}} - {{weather.sys.country}} </p></h3>
            <p>Temperatura: {{weather.main.temp}} °C</p>
            <p>Humedad: {{weather.main.humidity}} </p>
            <p>Presión: {{weather.main.pressure}} Hp</p>
          </div>
          <div *ngIf="weather" class="card card-body info"><!-- *ngIf="weather" -->
            
         

          <img src = "https://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png" width="100" height="100" /> 

            
           
          </div>
        </div>
      </div>
</div>
